<p>
  leagues-list works!
</p>


<ul class="media-list">
  <li class="media" *ngFor="let league of leagues">
    <div class="media-left">
      <!--<a href="#">-->
      {{league}}
      <!--</a>-->
    </div>
    <div class="media-body">
      <!--<h2 class="media-heading">{{ competition?.name }}</h2>-->
      <!--<button (click)="loadCompetition(competition)" class="btn btn-primary btn-sm pull-sm-right">GO</button>-->
      <!--<a [routerLink]="['/contacts', contact.id]">{{contact.name}}</a>-->
      <!--<p>-->
      <!--{{ competition?.description }}-->
      <!--</p>-->
      <!--<competition-status [competition]="competition" class="pull-sm-right"></competition-status>-->
    </div>
  </li>
</ul>


